# Supervised Machine Learning
- classification
- regression

- note: when you have district values, you will build classification while if the target is continuous, build regression
- use (70 to 80%) of data to train the machine while you use about (20 to 30%) for testing the model

In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
path = "C:/Users/KENNETH/Documents/LASOP DATA SCIENCE/Machine Learning/data/"
Startups = pd.read_csv(path + "50_Startups.csv")
Startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [12]:
# Step one 
X = (Catcols = ['R&D_Spend', 'Administration', 'Marketing_Spend','State'])

SyntaxError: invalid syntax (3844222611.py, line 2)

In [10]:
Catcols = ['R&D_Spend', 'Administration', 'Marketing_Spend','State']

pd.get_dummies(X, columns=["State"])

NameError: name 'X' is not defined

# Classification

# for classification, data with district values (As target) are used such as (0,1, "yes or no", "true or false")
while for regression, use data with continuous values (As target)

In [4]:
path = "C:/Users/KENNETH/Documents/LASOP DATA SCIENCE/Machine Learning/data/"

Social_Network = pd.read_csv(path + "Social_Network_Ads.csv")
Social_Network.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Step One

In [5]:
# separate the feature from the target
X = Social_Network.drop(columns=["User ID"]) # feature
y = X.pop("Purchased")  # target

In [6]:
 # note: you can drop more than one column by using a comma i.e X = Social_Network.drop(columns=["User ID"],["Gender"])

In [8]:
X

     Gender  Age  EstimatedSalary
0      Male   19            19000
1      Male   35            20000
2    Female   26            43000
3    Female   27            57000
4      Male   19            76000
..      ...  ...              ...
395  Female   46            41000
396    Male   51            23000
397  Female   50            20000
398    Male   36            33000
399  Female   49            36000

[400 rows x 3 columns]

In [9]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

# Step Two (If necessary)

In [8]:
# transformation (machine learning does not understand text variable)

# nominal variable (does not have ranking)
# ordinal variable (it has a sense of ranking like ["good, better, best"])

In [ ]:
# Eg good better best
 transformed as;    
    
    
 # good     1
    better   2
    best     3

In [ ]:
# For nominal variables' illustration
State
Lagos
Oyo
Ondo


TRansform as

State_lagos     state_oyo      state_ondo
1                 0               0
0                 1               0

0                 0               1

In [9]:
# transformation
# transforming the gender column

pd.get_dummies(X, columns=["Gender"]) # then save it back to X
X=pd.get_dummies(X, columns=["Gender"])

In [10]:
X

     Age  EstimatedSalary  Gender_Female  Gender_Male
0     19            19000              0            1
1     35            20000              0            1
2     26            43000              1            0
3     27            57000              1            0
4     19            76000              0            1
..   ...              ...            ...          ...
395   46            41000              1            0
396   51            23000              0            1
397   50            20000              1            0
398   36            33000              0            1
399   49            36000              1            0

[400 rows x 4 columns]

# Step Three

In [11]:
# Split the data into train and validation
x_train,x_val,y_train, y_val = train_test_split(X, y, test_size = 0.1, random_state = 42)

# Step Four

In [12]:
# build the model
from sklearn.tree import DecisionTreeClassifier # import algorithm

dt = DecisionTreeClassifier() # create the instance of the algoreithm

model1 = dt.fit(x_train,y_train)

In [13]:
# build model two
from sklearn.linear_model import LogisticRegression

lr =  LogisticRegression()
model2 = lr.fit(x_train,y_train)

# Step Five

In [14]:
# Evaluation of the model

In [21]:
prediction1=model1.predict(x_val)

In [16]:
y_val

209    0
280    1
33     0
210    1
93     0
84     0
329    1
94     0
266    0
126    0
9      0
361    1
56     0
72     0
132    0
42     0
278    1
376    0
231    0
385    1
77     0
15     0
391    1
271    1
0      0
396    1
114    0
225    0
262    1
104    0
395    1
193    0
261    1
57     0
232    1
116    0
113    0
342    0
158    0
141    0
Name: Purchased, dtype: int64

In [22]:
prediction2=model2.predict(x_val)

In [23]:
prediction2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_val, prediction2)

0.675

In [24]:
y_val

209    0
280    1
33     0
210    1
93     0
84     0
329    1
94     0
266    0
126    0
9      0
361    1
56     0
72     0
132    0
42     0
278    1
376    0
231    0
385    1
77     0
15     0
391    1
271    1
0      0
396    1
114    0
225    0
262    1
104    0
395    1
193    0
261    1
57     0
232    1
116    0
113    0
342    0
158    0
141    0
Name: Purchased, dtype: int64

In [17]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_val, prediction1)

0.85

In [18]:
confusion_matrix(y_val, prediction1)

array([[24,  3],
       [ 3, 10]], dtype=int64)

In [19]:
x_val.shape

(40, 4)

In [20]:
y_val.value_counts()

0    27
1    13
Name: Purchased, dtype: int64

In [ ]:
# y_val.value_counts()  helps to see the actual matrix i.e 0 = 27 while 1 = 13